NODE_ENV = 
PORT =
DATABASE_HOST = 
DATABASE_PORT = 
DATABASE_USERNAME = 
DATABASE_PASSWORD =  
DATABASE_DATABASE =
DATABASE_URL = 
DIRECT_URL =
JWT_SECRET =
JWT_EXPIRATION = 
REDIS_URL =
JWT_REFRESH_SECRET = 
REFRESH_EXPIRATION=